.button {
  border-radius: 6px;
  width: 40px;
  height: 40px;
  margin: 5px;
  background: #0062DF;
  border: none;
  color: #fff;
  font-size: 18px;
  transition: all 0.2s;
}

.button--blue {
  background: #0062DF;
  cursor: pointer;
}
.button--blue:hover {
  background: #0056C0;
}

.button--green {
  background: #249C3C;
}

.button--blue:focus,
.button--green:focus {
  outline: none;
}

.flash {
  animation: flash 1s linear;
}

@keyframes flash {
  0% {
    background-color: #c01f2b;
    box-shadow: 0 0 3px #ff2939;
  }
  50% {
    background-color: #ff2939;
    box-shadow: 0 0 10px #ff2939;
  }
  100% {
    background-color: #c01f2b;
    box-shadow: 0 0 3px #ff2939;
  }
}